@page "/"
@inject ITarefas MyTasks

<PageTitle>Simple To-DO App | Home</PageTitle>

<h2>Estas são as minhas Tarefas</h2>
<hr />

@if(Lista == null)
{
    <p>Carregando tarefas...</p>
}
else
if(!Lista.Any())
{
    <p>Sem tarefas</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarefa</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Tarefa item in Lista)
        {
                <tr>
                    <th scope="col" class="col-1 align-middle"><input class="form-check-input" type="checkbox" @bind="item.feito" id="flexCheckDefault"></th>
                    <td class="col-2 align-middle">@item.tarefa</td>
                    <td class="col-8 align-middle">@item.descricao</td>
                    <td>
                        <div>
                            <a class="btn btn-primary" href="edittask/@item.id"><span class="oi oi-pencil" /></a>
                            <a class="btn btn-danger" @onclick="@(()=> RemoveTarefa(item.id))"><span class="oi oi-trash" /></a>
                        </div>
                    </td>
                </tr>
        }
        </tbody>
    </table>
}

<Msg Titulo="Excluir tarefa?" @ref="msg" OnYesClick="ApagarTask">
    <p>Deseja realmente apagar a tarefa selecionada?</p>
</Msg>

@code{
    public List<Tarefa>? Lista;

    private Msg? msg;

    private Guid id;

    protected override void OnInitialized()
    {
        Lista = MyTasks.GetTarefas();
    }

    protected void RemoveTarefa(Guid _id)
    {
        id = _id;
        msg.Exibe();
    }

    protected void ApagarTask()
    {
        MyTasks.RemoveTarefa(id);
        msg.Oculta();
    }
}

