@page "/"

<PageTitle>Simple To-DO App | Home</PageTitle>

<h1>Minhas Tarefas</h1>

<button class="btn pmd-btn-fab pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">star</i></button>

@code{
 
}

