@page "/newtask"
@inject ITarefas MyTasks

<h3>Nova Tarefa</h3>

<Formulario TaskModel="@tarefa" OnValidSubmit="@InserirTarefa" />


@code {
    [Inject] private NavigationManager? nav { get; set; }

    public Tarefa? tarefa;

    protected override void OnParametersSet()
    {
        tarefa = new Tarefa();
    }

    protected void InserirTarefa()
    {
        MyTasks.AddTarefa(tarefa!);
        nav!.NavigateTo("/");
    }
}
