@page "/"
@inherits IndexBase
@attribute [Authorize]

<PageTitle>BlazorClientes</PageTitle>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Seja bem vindo ao BlazorClientes!</h1>
        <p>Este é um app criado para estudo do Blazor e C# que tem como objetivo gerenciar clientes, produtos, vendedores e pedidos. Com telas básicas para praticar diversos recursos das frameworks Asp.Net e Blazor, este app servirá de base para o app eVendas, que possuirá o objetivo de ser um simples app de gerencimanto de vendas usando duas tecnologias diferentes.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Exemplo de linha de colunas -->
    <div class="row">
        <div class="col-md-4">
            <h2>Título</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Título</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Título</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
    </div>

</div>
