@page "/"
@inherits IndexBase
@attribute [Authorize]

<PageTitle>Blazor Clientes</PageTitle>

<h1>Hello, world! How are you, @Name</h1>

@Name
<button @onclick="PegarNome">Pega nome</button>

Welcome to your new app.

<button @onclick="LimparJson">Limpar</button>

