@layout BlankPageLayout
@page "/login"
@inherits LoginBase

<PageTitle>Bem vindo ao BlazorClientes</PageTitle>

<div class="body">
    <div class="form-signin">
        <div class="text-center">
            <img class="mb-4 text-center" src="/icon-192.png" alt="" width="192" height="192">
            <h1 class="h1 mb-3 font-weight-normal">BlazorClientes</h1>
        </div>

        <EditForm Model="_loginUser" OnValidSubmit="@OnValidate">
            <DataAnnotationsValidator />

            @if (ExibirAviso)
            {
                <Alerta TipoDeAlerta="AlertaBase.AlertType.atAviso" OnClose="FecharAviso">
                    @Mensagem
                </Alerta>
            }

            <label for="inputEmail" class="sr-only">Endereço de email</label>
            <input type="email" id="inputEmail" @bind-value="_loginUser.Email" class="form-control" placeholder="Informe seu email" required autofocus>
            <ValidationMessage For="@(() => _loginUser.Email)" />
            <br />
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" @bind-value="_loginUser.Senha" class="form-control" placeholder="Informe sua senha" required>
            <ValidationMessage For="@(() => _loginUser.Senha)" />
            <div class="text-end">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </div>
        </EditForm>

        <a href="register">Criar nova conta</a>
        <p class="mt-5 mb-3 text-muted">&copy; @AnoCopyright by <a href="https://github.com/rafael-figueiredo-alves">Rafael de Figueiredo Alves</a></p>
    </div>
</div>