@inherits LayoutComponentBase
@inject ITheming theme

<div class="page " style="">
    <main>
        <NavMenu />

        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>@Body</ChildContent>
                <ErrorContent><h1>Ocorreu um imprevisto... ;(</h1></ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
