@inherits NavMenuBase

<nav class="navbar sticky-top @Theme shadow w-100" style="background: RoyalBlue" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span class="oi oi-menu" href="#offcanvasExample" data-bs-toggle="offcanvas" role="button" />
            BlazorClientes
        </a>
        <BtnTrocaTema ExtraClass="ms-auto" IsDark="IsDark" ChangeTheme="ChangeTheme" />
        <UserMenu />
    </div>
</nav>

<Offcanvas />