@inherits OffcanvasBase
@inject NavigationManager Nav


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" data-bs-backdrop="true" aria-labelledby="offcanvasExampleLabel" data-bs-theme="light">
    <div class="offcanvas-header" style="background: RoyalBlue">
        <div class="offcanvas-title" style="color: white" id="offcanvasExampleLabel">
            <div class="row">
                <div class="col-2">
                    <img src="/icon-192.png" height="40" width="40" />
                </div>
                <div class="col-8 text-center align-content-center">
                    <h3>BlazorClientes</h3>
                </div>
                <div class="col-2">
                    <span class="badge bg-secondary">1.0</span>
                </div>
            </div>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body @Theme!.ColorClass" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    Cadastros
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="testar">Clientes</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="testar">Produtos</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Pedidos
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" @onclick="testar">Novo Pedido</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" @onclick="testar">Duplicar Pedido</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
