@inherits UserMenuBase

<div class="dropdown me-1">
    <a class="nav-link dropdown-toggle me-3" style="color: white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @UsuarioLogado
    </a>
    <ul class="dropdown-menu dropdown-menu-end bg-light" data-bs-theme="light">
        <li><h6 class="dropdown-header">@EmailUsuario</h6></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" @onclick="EfetuarLogout">Sair</a></li>
    </ul>
</div>
