@if(Exibir)
{
<div class="modal-backdrop show"></div>

    <div class="modal" tabindex="-1" role="dialog"
         aria-hidden="true" style="display:block;">
        <div class="modal-dialog @Theme!.ColorClass" role="document">
            <div class="modal-content">
                <div class="modal-header @Theme!.ColorClass">
                    <h5 class="modal-title">@Titulo</h5>
                    @if(Theme.DataBsTheme == "dark")
                    {
                        <button @onclick="Oculta" type="button" class="btn-close-white"
                                data-dismiss="modal" aria-label="Fechar">
                        </button>
                    }
                    else
                    {
                        <button @onclick="Oculta" type="button" class="btn-close"
                                data-dismiss="modal" aria-label="Fechar">
                        </button>
                    }
                </div>
                <div class="modal-body @Theme!.ColorClass">
                    @ChildContent
                </div>
                <div class="modal-footer @Theme!.ColorClass">
                    <button @onclick="Oculta" type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Não
                    </button>
                    <button @onclick="OnYesClick" type="button"
                            class="btn btn-success">
                        Sim
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    protected UITheming? Theme { get; set; }

    private bool Exibir { get; set; } = false;
    [Parameter]public string? Titulo { get; set; }
    [Parameter]public RenderFragment? ChildContent { get; set; }
    [Parameter]public EventCallback OnYesClick { get; set; }

    public void Exibe()
    {
        Exibir = true;
    }

    public void Oculta()
    {
        Exibir = false;
    }
}
